:root {
    --cor-primaria: #27005D;
    --cor-secundaria: #E4F1FF; 
    --cor-terciaria: #9400FF;
    --cor-hover: #AED2FF;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/*Altera o corpo todo da página*/
body{
    background-color: var(--cor-primaria);
    /*height: 100vh;*/
    /*width: 100vw;*/
    box-sizing: border-box;
    color: var(--cor-secundaria);
}

/*Alteração do menu de navegação*/

.cabecalho{
    padding: 5% 0 3% 10%;
}

/* Seu código CSS existente... */

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--cor-terciaria);
    margin: 4px 0;
    transition: 0.4s;
}

.nave-menu{
    display: flex;
    gap: 80px;
}

.nave-links{
    font-family: var(--fonte-primaria);
    font-size: 1.5rem; /*Se adapta a medida da tela*/
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

/*Altera todo o conteúdo da página*/
.text-portfolio{
    display: flex;
    align-items: center; 
    padding: 2% 10%;
    gap: 82px;
    justify-content: space-between;
}

main{
    display: flex;
    justify-content: space-around;
}

.box-principal{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    text-align: justify;
}


/*Altera todo título h1*/
h1{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 2.05rem;
}

/*Altera todo título h2 e h3*/
h2{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    text-align: justify;
    font-size: 1.4rem;
}

h3{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 300;
}

/*Altera um pedaço do nosso texto destaque*/
.text-destaque{
    color: var(--cor-terciaria);
}

/*Altera nosso parágrafo*/
.p-principal{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

/*Altera todos os Links*/
a{
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
}

/*Altera a caixa inteira de links*/
.caixa-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

/*Aqui altera link por link*/
.links{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

/*Altera cursor*/
.links:hover {
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    padding: 3%;
}

/*Aqui altera os icones*/
a .icon{
    width: 30px;
    height: 30px;
}

/*Aqui altera somente a imagem principal do site*/
.img-principal{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 40%;
    /*height: 500px;*/
}

/*Alteração do rodapé da primeira página*/
/*.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.rodape-p1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5%;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    width: 100%; /* O rodapé ocupa a largura total */
}

/*Alteração das imagens do rodapé*/
.rodape-p1 img, svg{
    width: 15%;
}

.logo {
    width: 100%; /* O SVG ocupa a largura total do contêiner */
    height: auto; /* A altura é ajustada automaticamente para manter a proporção */
    display: block; /* Para garantir o correto espaçamento ao redor do SVG */
}

/*Página Habilidades*/

.p-principal a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

/*Formulário da página Contate-nos*/

/*.formu{
    position: relative;
    left: 5%;
    top: 80%;
    width: 320px;
    height: 270px;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    display: flex;
    align-items: center; 
    padding: 2% 10%;
    gap: 82px;
    justify-content: space-between;
}*/

/*.formu input{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}*/

#txt-contato{
    margin-bottom: 2%;
}

/*Edita o título do formulário*/
#txt-contato .titulo-form{
    /*display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;*/
    margin-left: 2%;
    margin-bottom: 2%;
    padding-bottom: 7%;
    margin-top: 7%;
    font-size: 1.4rem;
    /*font-size: 1.2rem;*/
}

/*Edita a caixa de formulário*/
#txt-contato form {
    width:200%; 
    position: relative; 
    float: left; 
    /*background-color: var(--cor-hover); */
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 5%;
    top: 5%; 
    min-height: 400px;
}

/*Texto título do input*/
#txt-contato form label {
    font-weight: bold;
    font-family: var(--fonte-secundaria);
    margin-left: 2%;
}

/*Caixa de input*/
#txt-contato form input {
    max-width: 100%; 
    width: 90%; 
    height: 30px; 
    margin-top: 10px;
    margin-bottom: 15px; 
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 0;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    /*border: solid rgb(17, 2, 17) 1px; */
    padding-left: 1%;
    font-family: var(--fonte-secundaria);
}

/*Caixa do Textarea*/
#txt-contato form textarea {
    max-width: 100%; 
    width: 90%; 
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 2%;
    /*border: solid rgb(17, 2, 17) 1px; */
    min-height: 100px;
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 0;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding-left: 1%;
}

/*Botão do formulário*/
#txt-contato form button {
    /*width: 30%; 
    height: auto; 
    cursor: pointer; 
    background-color: rgb(17, 2, 17);
    color: #fff; 
    font-size: 1.5em; 
    padding: 15px 0 15px 0; 
    margin-left: 35%; 
    margin-top: 1%;*/
    font-family: var(--fonte-secundaria);
    display: flex;
    justify-content: center;
    text-align: center;
    /*align-items: center;*/
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 20%;
    height: 10%;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 10px 0;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    cursor: pointer; 
    margin-left: 40%;
    margin-bottom: 2%;
    /*text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);*/
}

#txt-contato form button:hover {
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    padding: 2.5%;
}

@media(max-width: 1200px){

    .cabecalho{
        padding: 6%;
    }

    .nave-menu{
        justify-content: center;
    }

    .text-portfolio{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .box-principal{
        width: auto;
    }
}

@media (max-width: 768px) {
    .nave-menu {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .menu-open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .rodape-p1{
        text-align: center;
        border: 100%;
        /*padding: 10%;*/
        
    }

    /* Estilos para o texto */
    .rodape-p1 p {
        /*margin-bottom: 10px;*/
        font-size: 50%;
        padding-right: 2%;
    }

    .rodape-p1 .logo{
        width: 40%;
        padding-left: 2%;
    }
}
